@import "tailwindcss";

@theme {
  --color-royal-blue: #162660;
  --color-powder-blue: #D0E6FD;
  --color-bone: #F1E4D1;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: #162660;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
