PORT = 8000
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.gcyxg00.mongodb.net
CORS_ORIGIN=https://gig-flow-service-hive-internship-pr.vercel.app (or paste the url on which the frontend is running locally)
ACCESS_TOKEN_SECRET = acCeSsToKeN-madeByHimansHuMisHRa
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = refREsHToKeN-madeByHimansHuMisHRa
REFRESH_TOKEN_EXPIRY = 10d